* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.name {
    color: #070b0a;
    font-size: 35px;
}

p {
    color: #070b0a;
    font-size: 18px;
}

/*
Color Palette:
--text: #070b0a;
--background: #f7fafa;
--primary: #65a599;
--secondary: #abd1ca;
--accent: #86c1b6;
*/