* {
    box-sizing: border-box;
}

.name {
    color: #070b0a;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}
/*
Color Palette:
--text: #070b0a;
--background: #f7fafa;
--primary: #65a599;
--secondary: #abd1ca;
--accent: #86c1b6;
*/