* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

body {
    background-color: #f7fafa;
}
.name {
    color: #070b0a;
    font-size: 35px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}


p {
    color: #070b0a;
    font-size: 18px;
}

/*
Color Palette:
--text: #070b0a;
--background: #f7fafa;
--primary: #65a599;
--secondary: #abd1ca;
--accent: #86c1b6;
*/